API_KEY=api para email
JWT_SECRET=jwt-chave

# Configuração do banco de dados (MySQL)
DATABASE_URL=jdbc:mysql://ip:porta/banco
DATABASE_USER=Usuario
DATABASE_PASSWORD=Senha
DATABASE_ROOT_PASSWORD=SenhaRoot

# Configuração do email
EMAIL_HOST=HostDoEmail
EMAIL_PORT=PortaSmtp
EMAIL_USERNAME=UsuarioOuEmail
EMAIL_PASSWORD=SenhaDoEmail

# Configuração do redis
REDIS_HOST=RedisHost
REDIS_PORT=RedisPort
REDIS_PASSWORD=RedisPassword

# Chave SSL para HTTPS/TLS
SSL_KEYSTORE_PATH=Caminho/Arquivo.p12
SSL_KEYSTORE_PASSWORD=Senha
SSL_ALIAS=CertificadoAlias
SSL_KEYSTORE_TYPE=Type

# Utilize esse para emails (descomente)
# TWO_FACTOR_PROVIDER=email
# Utilize esse para logs
# TWO_FACTOR_PROVIDER=logger
