JWT_SECRET=secret

# Configuração do banco de dados
DATABASE_NAME=name
DATABASE_HOST=host
DATABASE_PORT=port
DATABASE_USER=user
DATABASE_USER_PASSWORD=password
DATABASE_ROOT_PASSWORD=password

# URL
DATABASE_URL=jdbc:mysql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# Configuração do email
EMAIL_HOST=smtp
EMAIL_PORT=port
EMAIL_USERNAME=email
EMAIL_PASSWORD=senha

# Configuração do redis
REDIS_HOST=host
REDIS_PORT=port
REDIS_PASSWORD=password

# Chave SSL para HTTPS/TLS
USE_SSL=false | true
SSL_KEYSTORE_PATH=path
SSL_KEYSTORE_PASSWORD=password
SSL_ALIAS=alias
SSL_KEYSTORE_TYPE=type

# Utilize esse para emails (descomente)
# TWO_FACTOR_PROVIDER=email
# Utilize esse para logs
# TWO_FACTOR_PROVIDER=logger

