<!DOCTYPE html>
<html th:replace="fragments/layout :: layout('Recuperar', ~{::body})">
<body>

  <main class="flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">

      <h1 class="text-2xl text-primary font-bold text-center mb-6">
        Recuperar Senha
      </h1>

      <!-- STEP 1: EMAIL -->
      <form id="recover-form">

        <input id="email"
        class="w-full border p-2 rounded mb-4"
        placeholder="Email"
        type="email">

        <div id="recover-loading" class="hidden flex justify-center mt-4">
          <div class="animate-spin rounded-full h-6 w-6 border-2 border-gray-300 border-t-primary"></div>
        </div>
        <br>

        <button
          type="submit"
          class="bg-primary w-full text-white p-2 rounded">
          Enviar código
        </button>

      </form>

      <!-- STEP 2: CODE + NEW PASSWORD -->
      <form id="reset-form" class="hidden">

        <p class="text-sm text-gray-600 mb-3">
        Digite o código enviado para seu email
        </p>

        <input id="code"
        class="w-full border p-2 rounded mb-3"
        placeholder="Código"
        type="text"
        minlength="6"
        inputmode="numeric"
        pattern="\d{6}"
        title="Digite um código de 6 dígitos"
        required
        >

        <input id="new-password"
        class="w-full border p-2 rounded mb-4"
        placeholder="Nova senha"
        type="password"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!]).{8,}$"
        title="Mínimo 8 caracteres, com maiúscula, minúscula, número e símbolo"
        >

        <input id="confirm-password"
        class="w-full border p-2 rounded mb-4"
        placeholder="Confirme a senha"
        type="password"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!]).{8,}$"
        title="Mínimo 8 caracteres, com maiúscula, minúscula, número e símbolo"
        >

        <div id="reset-loading" class="hidden flex justify-center mt-4">
          <div class="animate-spin rounded-full h-6 w-6 border-2 border-gray-300 border-t-primary"></div>
        </div>
        <br>

        <button
          class="bg-primary w-full text-white p-2 rounded"
          type="submit">
          Redefinir senha
        </button>

      </form>

      <p class="text-center text-sm text-gray-600 mt-4">
      Lembrou a senha?
      <a href="/" class="text-primary font-medium hover:underline">
        Voltar ao login
      </a>
      </p>

    </div>

    <script th:src="@{/js/recover.js}"></script>
  </main>

</body>
</html>
